<header class="site-header">
  <nav class="navbar navbar-default site-header_havbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="site-header_brand navbar-brand" href="#">
          <img class="site-header_img" alt="Logo" src="img/logo.svg">
        </a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="site-header_menu-item"><a href="#">Solutions</a></li>
          <li class="site-header_menu-item"><a href="#">Case Studies</a></li>
          <li class="site-header_menu-item"><a href="#">Why Maginfo</a></li>
          <li class="site-header_menu-item"><a href="#">Resources</a></li>
          <li role="separator" class="divider"></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <div class="site-header_phone">+1 (800) 888 8888</div>
            <div class="site-header_email">hello@example.com</div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
